**Title**: Data Wrangling 2.2 Exercises  
**Author**: Ryan Weeks  
**Date**: 15 December 2024  
**Description**: These exercises focus on analyzing earthquake data using pandas to explore statistical insights and to create filtered subsets. The exercises reinforce skills in data filtering, transformation, and summary analysis.

In [2]:
import pandas as pd

# Import Data
data = pd.read_csv(r"C:\Users\Weekseey\Documents\Bellevue Work\Data Wrangling\parsed.csv")

# Question 1

In [4]:
# Filter for earthquakes in Japan and with magnitude type 'mb'
japan_mb = data[(data['parsed_place'] == "Japan") & (data['magType'] == "mb")]

# Calc 95th percentile
percentile_95 = japan_mb['mag'].quantile(0.95)
print(percentile_95)

4.9

# Question 2

In [6]:
# Filer for earthquakes in Indonesia
indonesia = data[data['parsed_place'] == 'Indonesia']

# Calc percentage of earthquakes with tsunamis
tsunami_percentage = (indonesia['tsunami'].sum() / len(indonesia)) * 100
print(f"{tsunami_percentage:.2f}%")

23.13%

# Question 3

In [8]:
# Summary stats for Nevada earthquakes
data[data.parsed_place == 'Nevada'].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

# Question 4

In [10]:
# Define Ring of Fire locations

ring_of_fire_locations = [
    "Alaska", "Antarctic", "Bolivia", "California", "Canada", "Chile", 
    "Costa Rica", "Ecuador", "Fiji", "Guatemala", "Indonesia", "Japan", 
    "Kermadec Islands", "Mexico", "New Zealand", "Peru", "Philippines", 
    "Russia", "Taiwan", "Tonga", "Washington"
]

# Create a new column indicating Ring of Fire membership
data['Ring_of_Fire'] = data['parsed_place'].isin(ring_of_fire_locations)
print(data[['parsed_place', 'Ring_of_Fire']].head())

  parsed_place  Ring_of_Fire
0   California          True
1   California          True
2   California          True
3   California          True
4   California          True

# Question 5

In [12]:
# Count earthquakes in and outside Ring of Fire
data.Ring_of_Fire.value_counts()

Ring_of_Fire
True     7184
False    2148
Name: count, dtype: int64

# Question 6

In [14]:
# Tsunami count along ring of fire
data.loc[data.Ring_of_Fire, 'tsunami'].sum()

45