**Title**: Data Wrangling 6.2 Exercises  
**Author**: Ryan Weeks  
**Date**: 1/19/2025  
**Description**: In these exercises, I manipulated and analyzed time series data from both financial and seismic datasets. Some operations performed included aggregation, transformation, and querying. These exercises also focused on uncovering trends and insights through data normalization and advanced analysis methods.

In [34]:
import numpy as np
import pandas as pd

earthquakes = pd.read_csv(r"C:\Users\Weekseey\Documents\Bellevue Work\Data Wrangling\earthquakes.csv")
faang = pd.read_csv(r"C:\Users\Weekseey\Documents\Bellevue Work\Data Wrangling\faang.csv")

# 1.

In [4]:
earthquakes.query("parsed_place == 'Japan' and magType == 'mb' and mag >= 4.9")

,mag,magType,time,place,tsunami,parsed_place
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan

# 2.

In [7]:
earthquakes.query("magType == 'ml'").assign(mag_bin = lambda x: pd.cut(x.mag, np.arange(0,10))).mag_bin.value_counts()

mag_bin
(1, 2]    3105
(0, 1]    2207
(2, 3]     862
(3, 4]     122
(4, 5]       2
(5, 6]       1
(6, 7]       0
(7, 8]       0
(8, 9]       0
Name: count, dtype: int64

# 3.

In [60]:
# In order to resample, had to make sure the date index is set to a 'DatetimeIndex'
faang.index = pd.to_datetime(faang.index, errors = "coerce")

In [71]:
monthly_data = faang.groupby("ticker").resample("ME").agg({
    'open': 'mean',
    'close': 'mean',
    'high': 'max',
    'low': 'min',
    'volume': 'sum'
})

# Reset index to get flat DataFrame
monthly_data = monthly_data.reset_index()

# Grouped data columns were being truncated, adjusted some display settings to prevent that.
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)

print(monthly_data)

   ticker       date         open        close         high          low        volume
0    AAPL 2018-01-31    43.505357    43.501309    45.025002    41.174999  2.638718e+09
1    AAPL 2018-02-28    41.819079    41.909737    45.154999    37.560001  3.711577e+09
2    AAPL 2018-03-31    43.761786    43.624048    45.875000    41.235001  2.854911e+09
3    AAPL 2018-04-30    42.441310    42.458572    44.735001    40.157501  2.664617e+09
4    AAPL 2018-05-31    46.239091    46.384205    47.592499    41.317501  2.483905e+09
5    AAPL 2018-06-30    47.180119    47.155357    48.549999    45.182499  2.110498e+09
6    AAPL 2018-07-31    47.549048    47.577857    48.990002    45.855000  1.574766e+09
7    AAPL 2018-08-31    53.121739    53.336522    57.217499    49.327499  2.801276e+09
8    AAPL 2018-09-30    55.582763    55.518421    57.417500    53.825001  2.715888e+09
9    AAPL 2018-10-31    55.300000    55.211413    58.367500    51.522499  3.158994e+09
10   AAPL 2018-11-30    47.954881    47.808929    55.590000    42.564999  3.845306e+09
11   AAPL 2018-12-31    41.310789    41.066579    46.235001    36.647499  3.595690e+09
12   AMZN 2018-01-31  1301.377151  1309.010946  1472.579956  1170.510010  9.637120e+07
13   AMZN 2018-02-28  1447.113159  1442.363146  1528.699951  1265.930054  1.377840e+08
14   AMZN 2018-03-31  1542.160464  1540.367629  1617.540039  1365.199951  1.304001e+08
15   AMZN 2018-04-30  1475.841902  1468.220471  1638.099976  1352.880005  1.299196e+08
16   AMZN 2018-05-31  1590.474543  1594.903637  1635.000000  1546.020020  7.161550e+07
17   AMZN 2018-06-30  1699.088582  1698.823812  1763.099976  1635.089966  8.594130e+07
18   AMZN 2018-07-31  1786.305716  1784.649042  1880.050049  1678.060059  9.752110e+07
19   AMZN 2018-08-31  1891.957833  1897.851308  2025.569946  1776.020020  9.657580e+07
20   AMZN 2018-09-30  1969.239476  1966.077900  2050.500000  1865.000000  9.444550e+07
21   AMZN 2018-10-31  1799.630865  1782.058265  2033.189941  1476.359985  1.832208e+08
22   AMZN 2018-11-30  1622.323806  1625.483823  1784.000000  1420.000000  1.392900e+08
23   AMZN 2018-12-31  1572.922100  1559.443154  1778.339966  1307.000000  1.548127e+08
24     FB 2018-01-31   184.584284   184.962856   190.660004   175.800003  4.956557e+08
25     FB 2018-02-28   180.721578   180.269473   195.320007   167.179993  5.162516e+08
26     FB 2018-03-31   173.449524   173.489522   186.100006   149.020004  9.962017e+08
27     FB 2018-04-30   164.163332   163.810476   177.100006   150.509995  7.500727e+08
28     FB 2018-05-31   181.910909   182.930000   192.720001   170.229996  4.011441e+08
29     FB 2018-06-30   194.974763   195.267620   203.550003   186.429993  3.872656e+08
30     FB 2018-07-31   199.332381   199.967142   218.619995   166.559998  6.470307e+08
31     FB 2018-08-31   177.598695   177.492172   188.300003   170.270004  5.488327e+08
32     FB 2018-09-30   164.233158   164.377368   173.889999   158.869995  5.004688e+08
33     FB 2018-10-31   154.873479   154.187826   165.880005   139.029999  6.224463e+08
34     FB 2018-11-30   141.762857   141.635715   154.130005   126.849998  5.181517e+08
35     FB 2018-12-31   137.529475   137.161052   147.190002   123.019997  5.587862e+08
36   GOOG 2018-01-31  1127.200945  1130.770467  1186.890015  1045.229980  2.873840e+07
37   GOOG 2018-02-28  1088.629472  1088.206839  1174.000000   992.559998  4.238200e+07
38   GOOG 2018-03-31  1096.108085  1091.490479  1177.050049   980.640015  4.535330e+07
39   GOOG 2018-04-30  1038.415237  1035.696187  1094.165039   990.369995  4.171590e+07
40   GOOG 2018-05-31  1064.021376  1069.275901  1110.750000  1006.289978  3.184940e+07
41   GOOG 2018-06-30  1136.396182  1137.626668  1186.286011  1096.010010  3.209600e+07
42   GOOG 2018-07-31  1183.464280  1187.590472  1273.890015  1093.800049  3.194010e+07
43   GOOG 2018-08-31  1226.156951  1225.671732  1256.500000  1188.239990  2.880840e+07
44   GOOG 2018-09-30  1176.878424  1175.808934  1212.989990  1146.910034  2.886240e+07
45   GOOG 2018-10-31  1116.082172  1110.940411  1209.959961   995.830017  4.849470e+07
46   GOOG 2018-11-30  1054.971424  1056.162394  1095.569946   996.020020  3.673510e+07
47   GOOG 2018-12-31  1042.619998  1037.420519  1124.650024   970.109985  4.025760e+07
48   NFLX 2018-01-31   231.269525   232.908096   286.809998   195.419998  2.383776e+08
49   NFLX 2018-02-28   270.873158   271.443683   297.359985   236.110001  1.845858e+08
50   NFLX 2018-03-31   312.712859   312.228097   333.980011   275.899994  2.634494e+08
51   NFLX 2018-04-30   309.129524   307.466192   338.820007   271.220001  2.620060e+08
52   NFLX 2018-05-31   329.779541   331.536819   356.100006   305.730011  1.420508e+08
53   NFLX 2018-06-30   384.557143   384.133336   423.209991   352.820007  2.440318e+08
54   NFLX 2018-07-31   380.969526   381.515238   419.769989   328.000000  3.053938e+08
55   NFLX 2018-08-31   345.410001   346.257824   376.809998   310.929993  2.131223e+08
56   NFLX 2018-09-30   363.326843   362.641576   383.200012   335.829987  1.708321e+08
57   NFLX 2018-10-31   340.025218   335.445652   386.799988   271.209991  3.635898e+08
58   NFLX 2018-11-30   290.643335   290.344764   332.049988   250.000000  2.571264e+08
59   NFLX 2018-12-31   266.309474   265.302630   298.720001   231.229996  2.343100e+08

# 4.

In [73]:
crosstab = pd.crosstab(earthquakes.tsunami, earthquakes.magType, values = earthquakes.mag, aggfunc = 'max')
print(crosstab)

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

# 5.

In [76]:
faang.groupby('ticker').rolling('60D').agg({
    'open': 'mean',
    'close': 'mean',
    'high': 'max',
    'low': 'min',
    'volume': 'sum'
})

                         open       close        high         low       volume
ticker date
AAPL   2018-01-02   42.540001   43.064999   43.075001   42.314999  102223600.0
       2018-01-03   42.836250   43.061249   43.637501   42.314999  220295200.0
       2018-01-04   42.935833   43.126666   43.637501   42.314999  310033600.0
       2018-01-05   43.041875   43.282499   43.842499   42.314999  404673600.0
       2018-01-08   43.151000   43.343500   43.902500   42.314999  486944800.0
...                       ...         ...         ...         ...          ...
NFLX   2018-12-24  283.509251  281.931750  332.049988  233.679993  525657600.0
       2018-12-26  281.844501  280.777750  332.049988  231.229996  520444300.0
       2018-12-27  281.070489  280.162927  332.049988  231.229996  532679500.0
       2018-12-28  279.916342  279.461464  332.049988  231.229996  521973500.0
       2018-12-31  278.430770  277.451539  332.049988  231.229996  476314900.0

[1255 rows x 5 columns]

# 6.

In [79]:
faang.pivot_table(index = 'ticker')

              close         high          low         open        volume
ticker
AAPL      47.263357    47.748526    46.795877    47.277859  1.360803e+08
AMZN    1641.726176  1662.839839  1619.840519  1644.072709  5.648994e+06
FB       171.510956   173.613347   169.303148   171.472948  2.765860e+07
GOOG    1113.225134  1125.777606  1101.001658  1113.554101  1.741965e+06
NFLX     319.290319   325.219322   313.187330   319.620558  1.146962e+07

# 7.

In [106]:
# Filtering only Q4 2018 and amazon data, then calculating the z-scores
faang.loc['2018-Q4'].query("ticker == 'AMZN'").drop(columns='ticker').apply(
    lambda x: x.sub(x.mean()).div(x.std())
).head()

                high       low      open     close    volume
date
2018-10-01  2.368006  2.502113  2.337813  2.385848 -1.630411
2018-10-02  2.227302  2.247433  2.190795  2.155037 -0.861879
2018-10-03  2.058955  2.139987  2.068570  2.025489 -0.920345
2018-10-04  1.819474  1.781561  1.850048  1.722816 -0.126582
2018-10-05  1.628173  1.554416  1.642819  1.584748 -0.298771

# 8.

In [125]:
# Create the 3 events
event_data = pd.DataFrame({
    'ticker': 'FB',
    'date': pd.to_datetime(
         ['2018-07-25', '2018-03-19', '2018-03-20']
    ), 
    'event': [
         'Disappointing user growth announced after close.',
         'Cambridge Analytica story',
         'FTC investigation'
    ]
}).set_index(['date', 'ticker'])  # Setting the index

# join the 2 data frames
faang.reset_index().set_index(['date', 'ticker']).join(event_data, how = 'outer')

                          high          low         open        close       volume event
date       ticker
2018-01-02 AAPL      43.075001    42.314999    42.540001    43.064999  102223600.0   NaN
           AMZN    1190.000000  1170.510010  1172.000000  1189.010010    2694500.0   NaN
           FB       181.580002   177.550003   177.679993   181.419998   18151900.0   NaN
           GOOG    1066.939941  1045.229980  1048.339966  1065.000000    1237600.0   NaN
           NFLX     201.649994   195.419998   196.100006   201.070007   10966900.0   NaN
...                        ...          ...          ...          ...          ...   ...
2018-12-31 AAPL      39.840000    39.119999    39.632500    39.435001  140014000.0   NaN
           AMZN    1520.760010  1487.000000  1510.800049  1501.969971    6954500.0   NaN
           FB       134.639999   129.949997   134.449997   131.089996   24625300.0   NaN
           GOOG    1052.699951  1023.590027  1050.959961  1035.609985    1493300.0   NaN
           NFLX     270.100006   260.000000   260.160004   267.660004   13508900.0   NaN

[1255 rows x 6 columns]

# 9.

In [143]:
# Reset and set new index of ticker and date
faang = faang.reset_index().set_index(['ticker', 'date'])

# The "transform('first')" gives the first row of each group (ticker) and the division normalizes all values relative to the first date
faang_index = (faang / faang.groupby(level='ticker').transform('first'))

faang_index.groupby(level='ticker').head(5)

                       high       low      open     close    volume
ticker date
AAPL   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.013059  1.015952  1.013928  0.999826  1.155033
       2018-01-04  1.006790  1.016661  1.013987  1.004470  0.877864
       2018-01-05  1.017818  1.022392  1.019276  1.015906  0.925814
       2018-01-08  1.019211  1.027591  1.024624  1.012133  0.804816
AMZN   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.013017  1.015199  1.013908  1.012775  1.153758
       2018-01-04  1.021739  1.029175  1.028157  1.017308  1.121581
       2018-01-05  1.032891  1.033737  1.038831  1.033751  1.315532
       2018-01-08  1.053008  1.052558  1.054608  1.048662  1.588235
FB     2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.017623  1.021290  1.023638  1.017914  0.930294
       2018-01-04  1.025498  1.036891  1.040635  1.016040  0.764708
       2018-01-05  1.029298  1.041566  1.044518  1.029931  0.747828
       2018-01-08  1.040313  1.049451  1.053579  1.037813  0.991340
GOOG   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.018136  1.017202  1.015234  1.016413  1.155624
       2018-01-04  1.024959  1.037094  1.037831  1.020094  0.811732
       2018-01-05  1.034969  1.044746  1.043555  1.034958  1.033533
       2018-01-08  1.041549  1.053950  1.051405  1.039380  0.846477
NFLX   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.022614  1.031112  1.030342  1.019794  0.783394
       2018-01-04  1.026779  1.043905  1.051504  1.022679  0.549800
       2018-01-05  1.041508  1.052042  1.056859  1.044363  0.641312
       2018-01-08  1.053806  1.066626  1.070984  1.054608  0.508822